
# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

/build
/*/build/
/captures

# Local configuration file (sdk path, etc)
local.properties

*.iml
.gradle
/androidLib/*/build

# User-specific configurations
.idea

.xml
t/profiles_settings.xml
s.xml

xml
cope_settings.xml



/captures
.externalNativeBuild

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

publish.sh